<li ng-repeat="user_menu in userUiMenuList">
    <a ng-href=@Url.Content("~/{{user_menu.action}}/{{user_menu.method}}/")>
        <i class="material-icons">{{user_menu.icon}}</i>
        <span>{{user_menu.menu_name}}</span>
    </a>
</li>

